# Move to config.toml in the same directory as the binary.
# All command line arguments are accepted plus some more.

base_port = 6881
num_nodes = 1
debug = false
quiet = false
dsn = "postgres://dht:dht@localhost/dht?sslmode=disable"
no_http = false
http_address = "localhost:6880"
skip_tags = ["adult"]

[tags]
test = "\\.asdfasdfsdfsfdsfs"
